@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.dropdown {
    position: relative;
    width: 100%; 
    max-width: 300px; 
    min-width: 150px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;

    &.down .dropdown-body {
      top: 100%;
    }
  
    &.up .dropdown-body {
      bottom: 100%;
    }
  
    .dropdown-header,
    .dropdown-search {
      width: 100%;
      padding: 15px;
      border: 1px solid #000000;
      border-radius: 4px;
      background: #161616;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box; 
    }
  
    .dropdown-header {
      cursor: pointer;
  
      &.disabled {
        cursor: not-allowed;
        background: #f0f0f0;
      }
    }
  
    .dropdown-search {
      outline: none;
    }
  
    .arrow {
      font-size: 10px;
    }
  
    .dropdown-body {
        margin-top: 5px;        
        position: absolute;
        left: 0;
        width: 100%;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden; 
        border: 1px solid #0a0a0a;
        border-radius: 4px;
        background: #111111;
        z-index: 1000;
  
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
  
        .dropdown-item {
          padding: 10px;
          cursor: pointer;
          display: flex;
          align-items: center;

  
          &:hover {
            background: #333333;
          }
  
          &.disabled {
            color: #383838;
            cursor: not-allowed;
          }
  
          .tick-icon {
            margin-right: 10px;
            color: rgb(109, 109, 109);
          }
  
          .icon {
            margin-right: 10px;
          }
  
          &:not(.selected) {
            padding-left: 35px;
          }
        }
      }
    }
  }

@media (max-width: 600px) {
  .dropdown {
    max-width: 100%;
  }
}