/* App.css */

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ffffff, #313131); 
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  text-align: center;
}